Repository flowacademyhu/theta-test-aggregator, pull requests merged in 2020-06, with the labels that each got.

#47 #46 base layout created (backend, frontend)
  .gitignore
  backend/Dockerfile.development
  backend/README.md
  backend/build/.keep
  backend/config/database.json
  backend/config/swagger.json
  backend/docker-compose.yml
  backend/migrations/.keep
  backend/package-lock.json
  backend/package.json
  backend/seeds/.keep
  backend/src/app/controllers/.keep
  backend/src/app/models/.keep
  backend/src/app/routers/.keep
  backend/src/app/serializers/.keep
  backend/src/index.ts
  backend/src/lib/database.ts
  backend/tsconfig.json
  backend/webpack.config.js
  backend/yarn.lock
  frontend/.editorconfig
  frontend/README.md
  frontend/angular.json
  frontend/browserslist
  frontend/e2e/protractor.conf.js
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/e2e/tsconfig.json
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.css
  frontend/src/app/app.component.html
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/assets/.gitkeep
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/favicon.ico
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/polyfills.ts
  frontend/src/styles.css
  frontend/src/test.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
  frontend/tslint.json
Labels: backend, frontend

#54 I11 authentication middleware
  backend/config/jwt.json
  backend/package-lock.json
  backend/package.json
  backend/src/app/controllers/login.ts
  backend/src/app/routers/login.ts
  backend/src/app/serializers/login.ts
  backend/src/index.ts
  backend/src/lib/authentication.ts
Labels: backend

#53 I9 user model migration
  backend/migrations/20200616083236_create-users.js
  backend/src/app/models/user.ts
Labels: backend

#59 I15 user router
  backend/src/app/routers/user.ts
Labels: backend

#63 I20 filter simulation results
  backend/src/lib/querryParamHandlers/filterCommitHash.ts
  backend/src/lib/querryParamHandlers/filterEndTimeRange.ts
  backend/src/lib/querryParamHandlers/filterStartTimeRange.ts
  backend/src/lib/querryParamHandlers/filterStatus.ts
  backend/src/lib/querryParamHandlers/filterTriggeredBy.ts
Labels: backend

#58 I16-Simulation_result router
  backend/src/app/routers/simulationResult.ts
Labels: backend

#55 I13 simulation model migration
  backend/migrations/20200616083001_create-simulation-results.js
  backend/migrations/20200617081012_simulation-result-seq_num-to-auto_increment.js
  backend/src/app/models/simulationResult.ts
Labels: backend

#60 I10 user crud
  backend/migrations/20200616083236_create-users.js
  backend/src/app/controllers/user.ts
  backend/src/app/models/user.ts
  backend/src/app/serializers/user.ts
Labels: backend

#62 I23 login page
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/angular-material.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/logged-in/logged-in.component.css
  frontend/src/app/components/logged-in/logged-in.component.html
  frontend/src/app/components/logged-in/logged-in.component.spec.ts
  frontend/src/app/components/logged-in/logged-in.component.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.spec.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/models/user.model.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/assets/logo.svg
  frontend/src/index.html
  frontend/src/styles.css
Labels: frontend

#65 I27 User avatar, navigation and dropdown menu skeleton added.
  frontend/src/app/angular-material.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/assets/avatar.png
Labels: frontend

#69 I67 database seeds
  backend/seeds/00-example-users.js
  backend/seeds/01-example-simulation-results.js
Labels: backend

#64 I14 simulation result controller
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/models/simulationResult.ts
  backend/src/app/routers/simulationResult.ts
  backend/src/lib/queryParamHandlers/filterCommitHash.ts
  backend/src/lib/queryParamHandlers/filterEndTimeRange.ts
  backend/src/lib/queryParamHandlers/filterHandler.ts
  backend/src/lib/queryParamHandlers/filterStartTimeRange.ts
  backend/src/lib/queryParamHandlers/filterStatus.ts
  backend/src/lib/queryParamHandlers/filterTriggeredBy.ts
  backend/src/lib/queryParamHandlers/limit.ts
  backend/src/lib/queryParamHandlers/offset.ts
  backend/src/lib/tableName.ts
Labels: backend

#57 I12-authorization
  backend/src/app/controllers/authorization.ts
  backend/src/app/controllers/login.ts
Labels: backend

#68 I38 user management
  frontend/src/app/angular-material.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/api-key-manager/api-key-manager.component.css
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/api-key-manager/api-key-manager.component.spec.ts
  frontend/src/app/components/api-key-manager/api-key-manager.component.ts
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.spec.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/settings/settings.component.css
  frontend/src/app/components/settings/settings.component.html
  frontend/src/app/components/settings/settings.component.spec.ts
  frontend/src/app/components/settings/settings.component.ts
  frontend/src/app/components/user-list/user-list.component.css
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user-list/user-list.component.spec.ts
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/components/user/user.component.css
  frontend/src/app/components/user/user.component.html
  frontend/src/app/components/user/user.component.spec.ts
  frontend/src/app/components/user/user.component.ts
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.css
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.html
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.spec.ts
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.ts
  frontend/src/app/models/user-model.ts
  frontend/src/app/pipes/notifications.pipe.spec.ts
  frontend/src/app/pipes/notifications.pipe.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/user.service.spec.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

#75 I66 enum and migra
  backend/migrations/20200618125513_create-users.js
  backend/src/app/controllers/authorization.ts
  backend/src/app/controllers/login.ts
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/controllers/user.ts
  backend/src/app/models/simulationResult.ts
  backend/src/app/models/user.ts
  backend/src/app/serializers/user.ts
  backend/src/index.ts
  backend/src/lib/authentication.ts
  backend/src/lib/enums.ts
  backend/src/lib/enums/enum.ts
Labels: backend

#76 I61 swagger first version
  backend/config/swagger.json
Labels: backend

#78 I77 prefix path
  backend/src/app/routers/index.ts
Labels: backend

#84 I83 swagger ui
  backend/config/swagger.json
  backend/package.json
  backend/src/index.ts
Labels: backend

#86 I85-git_user change
  backend/migrations/20200618125513_create-users.js
Labels: backend

#81 I70 api key migration interface
  backend/migrations/20200617081012_simulation-result-seq_num-to-auto_increment.js
  backend/migrations/20200618131631_create-api_keys.js
  backend/src/app/models/apiKey.ts
Labels: backend

#74 I40 user management update admin
  frontend/src/app/app.module.ts
  frontend/src/app/components/update-user/update-user.component.css
  frontend/src/app/components/update-user/update-user.component.html
  frontend/src/app/components/update-user/update-user.component.spec.ts
  frontend/src/app/components/update-user/update-user.component.ts
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.html
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.ts
  frontend/src/app/pipes/notifications.pipe.ts
  frontend/src/app/resolvers/user.resolver.ts
  frontend/src/app/services/user.service.ts
Labels: frontend

#80 I39 user add feature created for admin
  frontend/src/app/app.module.ts
  frontend/src/app/components/add-user/add-user.component.css
  frontend/src/app/components/add-user/add-user.component.html
  frontend/src/app/components/add-user/add-user.component.spec.ts
  frontend/src/app/components/add-user/add-user.component.ts
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.html
Labels: frontend

#91 I90 user UUID swagger fix
  backend/config/swagger.json
  backend/package.json
  backend/src/app/controllers/user.ts
  backend/src/app/models/user.ts
  backend/src/app/serializers/user.ts
Labels: backend

#97 I95 apikey router
  backend/src/app/routers/apiKey.ts
  backend/src/app/routers/index.ts
Labels: backend

#98 I96-apikey-swagger
  backend/config/swagger.json
Labels: backend

#99 I93 simulation result fix
  backend/config/swagger.json
  backend/migrations/20200622081739_simulation-result-timestamp-fix.js
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/models/simulationResult.ts
Labels: backend

#94 I71 api key crud
  backend/package.json
  backend/src/app/controllers/apiKey.ts
  backend/src/app/controllers/login.ts
  backend/src/app/serializers/apiKey.ts
  backend/src/lib/enums/enum.ts
Labels: backend

#88 I22 test result invalidate
  backend/config/swagger.json
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/routers/simulationResult.ts
Labels: backend

#110 I109-API_KEY tablename add
  backend/src/lib/tableName.ts
Labels: backend

#112 I111-swagger fix
  backend/config/swagger.json
Labels: backend

#92 I21 email integration
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/src/app/controllers/sendmail.ts
  backend/src/app/routers/index.ts
  backend/src/app/routers/mailer.ts
  backend/src/lib/mailer.ts
Labels: backend

#105 I104 filter fix
  backend/src/lib/authentication.ts
  backend/src/lib/queryParamHandlers/filterEndTimeRange.ts
  backend/src/lib/queryParamHandlers/filterStartTimeRange.ts
  backend/src/lib/queryParamHandlers/limit.ts
  backend/src/lib/queryParamHandlers/offset.ts
Labels: backend

#107 I106 create test model (#106)
  frontend/src/app/models/test.model.ts
Labels: frontend

#102 I82 frontend connected to backend -user management
  frontend/src/app/app.module.ts
  frontend/src/app/components/add-user/add-user.component.html
  frontend/src/app/components/add-user/add-user.component.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/logged-in/logged-in.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/update-user/update-user.component.html
  frontend/src/app/components/update-user/update-user.component.ts
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/interceptors/token.interceptor.spec.ts
  frontend/src/app/interceptors/token.interceptor.ts
  frontend/src/app/models/auth-response.ts
  frontend/src/app/resolvers/user.resolver.ts
  frontend/src/app/resolvers/users.resolver.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Labels: frontend

#114 I113 Cursor to pointer fix
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
Labels: frontend

#117 I116 email integration fix
  backend/docker-compose.yml
Labels: backend

#121 I120 seed user update
  backend/seeds/00-example-users.js
Labels: backend

#73 I26 remember me checkbox
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#115 I35 apikeys management admin
  frontend/src/app/components/api-key-manager/api-key-manager.component.css
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/api-key-manager/api-key-manager.component.ts
  frontend/src/app/models/apiKey-model.ts
  frontend/src/app/services/apikey.service.spec.ts
  frontend/src/app/services/apikey.service.ts
Labels: frontend

#125 I124 issues fixed
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/logged-in/logged-in.component.ts
  frontend/src/app/components/login/login.component.ts
Labels: frontend

#127 I126-private to public fix
  frontend/src/app/components/api-key-manager/api-key-manager.component.ts
Labels: frontend

#122 I108 Test service created
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/resolvers/tests.resolver.ts
  frontend/src/app/services/test.service.spec.ts
  frontend/src/app/services/test.service.ts
Labels: frontend

#123 I119 infinite api key
  backend/docker-compose.yml
  backend/migrations/20200625113444_update-api-key-expiration-type.js
  backend/src/app/controllers/apiKey.ts
Labels: backend

#128 I30 all simulations page index page #30
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/logged-in/logged-in.component.css
  frontend/src/app/components/logged-in/logged-in.component.html
  frontend/src/app/components/logged-in/logged-in.component.ts
  frontend/src/app/components/test-results/test-results.component.css
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/components/test-results/test-results.component.spec.ts
  frontend/src/app/components/test-results/test-results.component.ts
  frontend/src/app/components/update-user/update-user.component.css
  frontend/src/app/directives/test-status.directive.spec.ts
  frontend/src/app/directives/test-status.directive.ts
Labels: frontend

#87 I79 add auth guard
  frontend/src/app/app.module.ts
  frontend/src/app/auth.guard.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/assets/btn_google_signin_dark_normal_web.png
  frontend/src/styles.css
Labels: frontend

#133 I132 created api-key seed
  backend/seeds/03-example-api-key.js
Labels: backend

#129 I72 authorization with api key
  backend/src/app/controllers/apiKey.ts
  backend/src/app/controllers/authorizationWithApiKey.ts
  backend/src/app/routers/authorizationWithApiKey.ts
  backend/src/app/routers/index.ts
  backend/src/app/serializers/apiKey.ts
  backend/src/lib/authentication.ts
Labels: backend

#135 I130 test seed update
  backend/seeds/01-example-simulation-results.js
Labels: backend

#139 I138 Duplicate ID fix
  backend/seeds/01-example-simulation-results.js
Labels: backend

#131 I118 user update
  backend/config/swagger.json
  backend/src/app/controllers/userProfile.ts
  backend/src/app/routers/index.ts
  backend/src/app/routers/user.ts
  backend/src/app/routers/userProfile.ts
Labels: backend

#141 I140 token interceptor quick fix
  frontend/src/app/interceptors/token.interceptor.ts
Labels: frontend

#144 I143 create statistics model
  backend/src/app/models/statistic.ts
Labels: backend

#137 I34 simulation detail page #34
  frontend/src/app/app.module.ts
  frontend/src/app/components/test-details/test-details.component.css
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/components/test-details/test-details.component.spec.ts
  frontend/src/app/components/test-details/test-details.component.ts
  frontend/src/app/resolvers/test.resolver.ts
Labels: frontend

#136 I29 user profile page
  frontend/src/app/app.module.ts
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user/user.component.css
  frontend/src/app/components/user/user.component.html
  frontend/src/app/components/user/user.component.ts
  frontend/src/app/modals/profile-update-modal/profile-update-modal.component.css
  frontend/src/app/modals/profile-update-modal/profile-update-modal.component.html
  frontend/src/app/modals/profile-update-modal/profile-update-modal.component.spec.ts
  frontend/src/app/modals/profile-update-modal/profile-update-modal.component.ts
Labels: frontend

#147 I145 create statistics table migration
  backend/migrations/20200629130613_create-statistics.js
  backend/src/app/models/statistic.ts
  backend/src/lib/enums.ts
  backend/src/lib/tableName.ts
Labels: backend

#146 I37 filter for triggered by and commit hash
  frontend/src/app/app.module.ts
  frontend/src/app/components/filters/filters.component.spec.ts
  frontend/src/app/components/filters/filters.component.ts
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/components/test-results/test-results.component.ts
  frontend/src/app/models/filter-params-model.ts
  frontend/src/app/resolvers/tests.resolver.ts
  frontend/src/app/services/test.service.ts
Labels: frontend
