Repository flowacademyhu/theta-test-aggregator, pull requests merged in 2020-07, with the labels that each got.

#152 I151 created mock data
  backend/seeds/01-example-simulation-results.js
Labels: backend

#155 I150 statistic crud
  backend/migrations/20200701104448_update-statistics.js
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/controllers/statistic.ts
  backend/src/app/models/statistic.ts
  backend/src/app/serializers/statistic.ts
Labels: backend

#149 I32 add filter to statuses #32
  frontend/src/app/app.module.ts
  frontend/src/app/components/filters/filters.component.ts
  frontend/src/app/components/test-results/test-results.component.css
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/components/test-results/test-results.component.ts
  frontend/src/app/directives/test-status.directive.ts
  frontend/src/app/models/filter-params-model.ts
  frontend/src/app/resolvers/tests.resolver.ts
  frontend/src/app/services/test.service.ts
Labels: frontend

#157 I33 date filter
  backend/src/lib/queryParamHandlers/filterStartTimeRange.ts
  frontend/src/app/components/filters/filters.component.ts
  frontend/src/app/models/filter-params-model.ts
Labels: backend, frontend

#154 I153 auth guard auto login
  frontend/src/app/auth.guard.ts
  frontend/src/app/components/user/user.component.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#159 I156 statistic routes
  backend/config/swagger.json
  backend/src/app/controllers/apiKey.ts
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/controllers/statistic.ts
  backend/src/app/controllers/user.ts
  backend/src/app/routers/index.ts
  backend/src/app/routers/statistic.ts
  backend/src/lib/queryParamHandlers/filterCommitHash.ts
  backend/src/lib/queryParamHandlers/filterEndTimeRange.ts
  backend/src/lib/queryParamHandlers/filterEndpoint.ts
  backend/src/lib/queryParamHandlers/filterHandler.ts
  backend/src/lib/queryParamHandlers/filterMethod.ts
  backend/src/lib/queryParamHandlers/filterStartTimeRange.ts
  backend/src/lib/queryParamHandlers/filterStatus.ts
  backend/src/lib/queryParamHandlers/filterTriggeredBy.ts
  backend/src/lib/queryParamHandlers/limit.ts
  backend/src/lib/queryParamHandlers/offset.ts
Labels: backend

#164 I163 fixed mock data
  backend/seeds/01-example-simulation-results.js
Labels: backend

#167 I19 google auth
  backend/config/swagger.json
  backend/docker-compose.yml
  backend/package.json
  backend/src/app/controllers/login.ts
  backend/src/app/controllers/user.ts
  backend/src/app/models/idToken.ts
  backend/src/app/models/user.ts
  backend/src/app/routers/login.ts
  backend/src/lib/authentication.ts
Labels: backend

#166 I43 weekly failures
  frontend/package-lock.json
  frontend/src/app/components/filters/filters.component.ts
Labels: frontend

#173 I172 invalidate test be
  backend/config/swagger.json
  backend/src/app/controllers/simulationResult.ts
Labels: backend

#170 I24 google authentication #24
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/add-user/add-user.component.ts
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/environments/environment.ts
Labels: frontend

#178 I177 userprofile bugfix
  backend/src/app/controllers/userProfile.ts
Labels: backend

#176 I134 - swagger fix
  backend/config/swagger.json
Labels: backend

#184 I180 simulation result serializer
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/serializers/simulationResult.ts
Labels: backend

#188 I185 prettify payload text
  frontend/src/app/app.module.ts
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/pipes/payload-text-prettify.pipe.spec.ts
  frontend/src/app/pipes/payload-text-prettify.pipe.ts
Labels: frontend

#181 I179 filters.component.ts to .ts .html .css
  frontend/package-lock.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/filters/filters.component.css
  frontend/src/app/components/filters/filters.component.html
  frontend/src/app/components/filters/filters.component.ts
Labels: frontend

#187 I186 change statistic serializer
  backend/config/swagger.json
  backend/src/app/serializers/statistic.ts
Labels: backend

#168 I36 crud for apikeys without addApikey
  frontend/src/app/app.module.ts
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/api-key-manager/api-key-manager.component.ts
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.css
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.html
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.spec.ts
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.ts
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.ts
  frontend/src/app/resolvers/apiKeys.resolver.ts
  frontend/src/app/services/apikey.service.ts
Labels: frontend

#171 I41 invalidate test
  frontend/src/app/app.module.ts
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/components/test-details/test-details.component.ts
  frontend/src/app/modals/confirm-invalidate-modal/confirm-invalidate-modal.component.css
  frontend/src/app/modals/confirm-invalidate-modal/confirm-invalidate-modal.component.html
  frontend/src/app/modals/confirm-invalidate-modal/confirm-invalidate-modal.component.spec.ts
  frontend/src/app/modals/confirm-invalidate-modal/confirm-invalidate-modal.component.ts
  frontend/src/app/services/test.service.ts
Labels: frontend

#175 I174 bugfix google sign out and ctx undefined errors
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/components/user/user.component.html
  frontend/src/app/services/auth.service.ts
Labels: frontend

#165 I158 change the index page style plus data #I158
  frontend/src/app/components/test-details/test-details.component.css
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/components/test-details/test-details.component.ts
  frontend/src/app/components/test-results/test-results.component.css
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/directives/test-status.directive.ts
Labels: frontend

#183 I182 navbar and filters top fixed
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/components/test-details/test-details.component.ts
  frontend/src/app/components/test-results/test-results.component.css
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user/user.component.html
  frontend/src/styles.css
Labels: frontend

#191 I190 statistic model created
  frontend/src/app/models/statistic.model.ts
Labels: frontend

#193 I192 statistics service created
  frontend/src/app/services/statistics.service.spec.ts
  frontend/src/app/services/statistics.service.ts
Labels: frontend

#189 I169 add apikey
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/api-key-manager/api-key-manager.component.ts
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.html
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.ts
  frontend/src/app/services/apikey.service.ts
Labels: frontend

#198 I194 - make email unique
  backend/migrations/20200706143814_user-email-unique.js
Labels: backend

#201 I148 backend pagination fix
  backend/src/app/controllers/simulationResult.ts
  backend/src/app/serializers/simulationResult.ts
Labels: backend

#203 I202 - open by default
  frontend/src/app/components/test-details/test-details.component.css
  frontend/src/app/components/test-details/test-details.component.html
Labels: frontend

#214 I213 swagger fix
  backend/config/swagger.json
  backend/src/app/controllers/simulationResult.ts
Labels: backend

#215 I212 custom filter migration
  backend/migrations/20200707121329_create-custom-filters.js
Labels: backend

#216 I209 custom filter model
  backend/src/app/models/customFilter.ts
Labels: backend

#210 I205 cache search
  frontend/src/app/app.module.ts
  frontend/src/app/services/route-reuse.service.spec.ts
  frontend/src/app/services/route-reuse.service.ts
Labels: frontend

#199 I195 server side pagination
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/components/test-results/test-results.component.ts
  frontend/src/app/models/filter-params-model.ts
  frontend/src/app/models/testsResponse.model.ts
  frontend/src/app/services/test.service.ts
Labels: frontend

#218 I217 open ended date filter
  backend/config/swagger.json
  backend/src/lib/queryParamHandlers/filterStartTimeRange.ts
Labels: backend

#220 I208 custom filters crud
  backend/config/swagger.json
  backend/migrations/20200707121329_create-custom-filters.js
  backend/seeds/00-example-users.js
  backend/src/app/controllers/customFilter.ts
  backend/src/app/models/customFilter.ts
  backend/src/app/routers/customFilter.ts
  backend/src/app/routers/index.ts
  backend/src/app/serializers/customFilter.ts
  backend/src/lib/tableName.ts
Labels: backend

#207 I142 statistics by endpoint and method
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/angular-material.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/statistics/statistics.component.css
  frontend/src/app/components/statistics/statistics.component.html
  frontend/src/app/components/statistics/statistics.component.spec.ts
  frontend/src/app/components/statistics/statistics.component.ts
Labels: frontend

#222 I204 apikey layout
  frontend/src/app/components/api-key-manager/api-key-manager.component.css
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/api-key-manager/api-key-manager.component.ts
Labels: frontend

#225 I219 add error messages to login and add user pages
  frontend/src/app/components/add-user/add-user.component.css
  frontend/src/app/components/add-user/add-user.component.html
  frontend/src/app/components/add-user/add-user.component.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
Labels: frontend

#221 I206 back button directive
  frontend/src/app/app.module.ts
  frontend/src/app/components/add-user/add-user.component.html
  frontend/src/app/components/api-key-manager/api-key-manager.component.css
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/components/test-results/test-results.component.css
  frontend/src/app/components/test-results/test-results.component.html
  frontend/src/app/components/user-list/user-list.component.html
  frontend/src/app/components/user/user.component.css
  frontend/src/app/components/user/user.component.html
  frontend/src/app/directives/back-button.directive.spec.ts
  frontend/src/app/directives/back-button.directive.ts
  frontend/src/styles.css
Labels: frontend

#226 I224 env variable check
  backend/src/index.ts
Labels: backend

#230 I229 redirectTo index added
  frontend/src/app/app.module.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/auth.service.ts
Labels: frontend

#228 I227 - date format change
  frontend/src/app/components/api-key-manager/api-key-manager.component.html
Labels: frontend

#223 I196 css touchups
  frontend/angular.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/add-user/add-user.component.css
  frontend/src/app/components/add-user/add-user.component.html
  frontend/src/app/components/filters/filters.component.css
  frontend/src/app/components/filters/filters.component.html
  frontend/src/app/components/header/header.component.css
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/settings/settings.component.css
  frontend/src/app/components/settings/settings.component.html
  frontend/src/app/components/settings/settings.component.spec.ts
  frontend/src/app/components/settings/settings.component.ts
  frontend/src/app/components/statistics/statistics.component.css
  frontend/src/app/components/statistics/statistics.component.html
  frontend/src/app/components/test-details/test-details.component.css
  frontend/src/app/components/test-details/test-details.component.html
  frontend/src/app/components/test-results/test-results.component.css
  frontend/src/app/components/test-results/test-results.component.ts
  frontend/src/app/components/update-user/update-user.component.css
  frontend/src/app/components/update-user/update-user.component.html
  frontend/src/app/components/user-list/user-list.component.css
  frontend/src/app/components/user-list/user-list.component.ts
  frontend/src/app/components/user/user.component.css
  frontend/src/app/components/user/user.component.html
  frontend/src/app/components/user/user.component.ts
  frontend/src/app/modals/add-apikey-modal/add-apikey-modal.component.css
  frontend/src/app/modals/confirm-delete-modal/confirm-delete-modal.component.css
  frontend/src/app/modals/confirm-invalidate-modal/confirm-invalidate-modal.component.css
  frontend/src/app/modals/profile-update-modal/profile-update-modal.component.css
  frontend/src/app/modals/profile-update-modal/profile-update-modal.component.html
  frontend/src/app/services/auth.service.ts
  frontend/src/assets/fpicon.png
  frontend/src/index.html
  frontend/src/styles.css
Labels: frontend

#232 I231 - seed created for statistics
  backend/seeds/04-example-statistics.js
Labels: backend

#236 I234 sendmail bugfix
  backend/src/app/controllers/sendmail.ts
Labels: backend

#235 I233 Small design change
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/test-details/test-details.component.css
Labels: frontend
